.soundboard-container {
    padding: 2em;
}

.soundboard {
    border: 1px dashed black;
    height: 500px;
}

.soundboard button {
    font-size: 1.75em;
    width: 100px;
    height: 100px;
}